
    
.login{
    background-image: url("3.jpg");
    margin-top: 200px;
    margin-bottom: 150px;
    margin-right: 60px;
    margin-left: 400px;
    justify-content:center;
    width: 50%;
    border-style: inset;
    border-radius: 100px;
    
button{
    
    border-radius: 12px;
    background-color:#BDCDD6;
}

}
